p.venue {
  font-style: italic;
  margin-bottom: 1em;
}

.shower .slide.title h3 {
  font-weight: normal;
  letter-spacing: -.5px;
  font-size: 1.66em;
  margin: -1.66em 0 1.66em;
}

.slide h2.shout {
  font-size: 1.66em;
  line-height: 1.33;
}

.toc.slide ul li {
  font-style: italic;
}

.slide p.thanks {
  font-size: .7em;
  font-style: italic;
  margin-top: 2.5em;
}

.twitter-tweet-rendered {
  transform: scale(1.8) !important;
  transform-origin: top left !important;
}
